html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("https://images.pexels.com/photos/691710/pexels-photo-691710.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f9f9f9f2;
  width: 100%;
  font-family: 'Lobster', cursive;
}

.logo {
  width: 25%;
  justify-content: center;
  padding: 0 0 0 1rem;
  margin-left: 120px;
  margin-right: 120px;
}


.navItems {
  float: right;
}

.navItem:hover,
.navItems:active {
  color: white;

}
.formImg {
  
}


.here {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeSearchBar {
  width: 30%;
  height: 40px;
  border-radius: 10px;
  margin-top: 10%;
  font-size: 20px;
  text-align: center;
  font-family: 'Poiret One', cursive;
}

.homeSearchButton {
  width: 10%;
  height: 30px;
  border-radius: 10px;
  background-color: black;
  font-family: 'Poiret One', cursive;
  font-size: 15px;
  color: white;
}